.fondo-jugabilidad{
    width: auto;
    height:auto;
    background-color: aqua;
    background-image: url(../img/juego-mad-max-port4.webp);
    background-position: center;
    background-size: cover;
}

.estilo-parrafo{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.titulo-estilo{
    color: rgb(0, 0, 0);;
    align-self: center;
    font-size: 1.8rem;
}

.parrafo-jugabilidad{
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    text-align: center;
}


.trailer-jugabilidad{
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    gap: 1.5;
}

.titulo-trailer{
    color: rgb(0, 0, 0);;
    align-self: center;
    padding: 1.5rem;
    font-size: 1.8rem;
}

.caja-compra-jugabilidad{
    padding: 1rem;
    border: 3px solid rgb(255, 255, 255);
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.titulo-compra-jugabilidad{
    color: rgb(0, 0, 0);
}

.compra-jugabilidad{
    padding: 1.5rem;
    @include flex-col-center;
}

@media (min-width:480px) {
    .iframe-trailer{
        width: 465px;
        @include flex-col-center;
    }
}

@media (min-width:768px) {
    .iframe-trailer{
        width: 600px;
        height: 400px;
        @include flex-col-center;
    }
}


@media (min-width:1200px) {
    .iframe-trailer{
        padding: 1rem;
        align-self: center;
        width: 750px;
        height: 500px;
    }

    .titulo-estilo{
        font-size: 2.2rem;
        padding: 1rem;
    }

    .parrafo-jugabilidad{
        font-size: 1.6rem;
        padding: 1rem;
    }

    .titulo-trailer{
        font-size: 2.2rem;
        padding: 1rem;
    }

}

